<ion-grid>
  <ion-row>
    <ion-col size="3" class="ion-text-center">
      <input
        type="radio"
        [checked]="step >= 1"
        disabled
        class="ion-radio-input custom-radio"
      />
    </ion-col>

    <ion-col size="2" class="ion-text-center">
      <div class="vertical-line"></div>
    </ion-col>

    <ion-col size="2" class="ion-text-center">
      <input
        type="radio"
        [checked]="step >= 2"
        disabled
        class="ion-radio-input custom-radio"
      />
    </ion-col>

    <ion-col size="2" class="ion-text-center">
      <div class="vertical-line"></div>
    </ion-col>

    <ion-col size="3" class="ion-text-center">
      <input
        type="radio"
        [checked]="step >= 3"
        disabled
        class="ion-radio-input custom-radio"
      />
    </ion-col>
  </ion-row>
</ion-grid>
