$margin-xs: 1rem;
$margin-sm: 2rem;
$margin-md: 3rem;
$margin-lg: 4rem;
$margin-xl: 6rem;

// Margin

.ion-m-none {
  margin: 0;
}

.ion-mg-xs {
  margin: $margin-xs !important;
}
.ion-mg-sm {
  margin: $margin-sm !important;
}
.ion-mg-md {
  margin: $margin-md !important;
}
.ion-mg-lg {
  margin: $margin-lg !important;
}

.ion-mg-xs-top {
  margin-top: $margin-xs !important;
}
.ion-mg-sm-top {
  margin-top: $margin-sm !important;
}
.ion-mg-md-top {
  margin-top: $margin-md !important;
}
.ion-mg-lg-top {
  margin-top: $margin-lg !important;
}
.ion-mg-xl-top {
  margin-top: $margin-xl !important;
}

.ion-mg-xs-bottom {
  margin-bottom: $margin-xs !important;
}
.ion-mg-sm-bottom {
  margin-bottom: $margin-sm !important;
}
.ion-mg-md-bottom {
  margin-bottom: $margin-md !important;
}
.ion-mg-lg-bottom {
  margin-bottom: $margin-lg !important;
}
.ion-mg-xl-bottom {
  margin-bottom: $margin-xl !important;
}

.ion-mg-xs-left {
  margin-left: $margin-xs !important;
}
.ion-mg-sm-left {
  margin-left: $margin-sm !important;
}
.ion-mg-md-left {
  margin-left: $margin-md !important;
}
.ion-mg-lg-left {
  margin-left: $margin-lg !important;
}

.ion-mg-xs-right {
  margin-right: $margin-xs !important;
}
.ion-mg-sm-right {
  margin-right: $margin-sm !important;
}
.ion-mg-md-right {
  margin-right: $margin-md !important;
}
.ion-mg-lg-right {
  margin-right: $margin-lg !important;
}
