<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-img
    src="../../../assets/img/img_coink.svg"
    alt="Logo"
    class="ion-pd-lg-top ion-mg-md-bottom"
    style="max-width: 50%; margin: 0 auto"
  ></ion-img>

  <h4
    class="ion-text ion-text-center ion-mg-xl-bottom ion-color-font-primary font-weight-bold"
    [innerHTML]="'AUTH_TITLE' | translate"
  ></h4>

  <ion-button
    shape="round"
    expand="block"
    color="success"
    class="ion-margin-top ion-color-font-secondary font-weight-bold"
    [innerHTML]="'BUTTONS.REGISTER' | translate"
    [routerLink]="['/register']"
  >
  </ion-button>

  <ion-button
    expand="block"
    shape="round"
    color="secondary"
    class="ion-pd-xs-top"
    [innerHTML]="'BUTTONS.LOGIN' | translate"
  ></ion-button>
</ion-content>
