<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="3"
        ><img src="../../../assets/img/OinkPolicia.svg" alt="" class="pt-xs"
      /></ion-col>

      <ion-col size="9" class="ion-align-self-center">
        <ion-grid>
          <ion-row>
            <ion-col size="12"
              ><h3
                class="ion-color-font-secondary font-weight-bold font-md"
                [innerHTML]="'CONTRACT_COMPONENT.TITLE' | translate"
              ></h3
            ></ion-col>
            <ion-col size="12">
              <p
                class="font-sm ion-m-none"
                [innerHTML]="'CONTRACT_COMPONENT.SUBTITLE' | translate"
              ></p
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="ion-separator" />

  <ion-grid class="px-2">
    <ion-row>
      <ion-col size="12">
        <h3
          [innerHTML]="'CONTRACT_COMPONENT.CONTRACT_TITLE' | translate"
          class="font-md font-weight-bold ion-color-font-secondary"
        ></h3>
        <p
          [innerHTML]="'CONTRACT_COMPONENT.CONTRACT_TEXT' | translate"
          class="font-sm"
        ></p>
      </ion-col>
      <ion-col>
        <a href="" target="_self">
          <h3 class="ion-color-font-secondary font-sm font-weight-bold">
            Lee tu contrato
          </h3></a
        >
      </ion-col>
      <ion-col size="12">
        <label>
          <input
            type="checkbox"
            (change)="onCheckContract($event.target)"
            class="ion-mg-xs-right"
          />
          <span
            [innerHTML]="'CONTRACT_COMPONENT.TEXT_ACCEPT' | translate"
          ></span>
        </label>
      </ion-col>

      <ion-col size="12">
        <ion-button
          expand="block"
          shape="round"
          color="success font-weight-bold"
          [disabled]="!btnFinalize"
          (click)="onFinalize()"
          [innerHTML]="'BUTTONS.NEXT' | translate"
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
